body{
    height: 100vh;
}
.login-div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
}
.login-form{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
#password{
    width: 100% !important;
}
.index-div1{
    padding-top: 100px;
}
.alert{
    padding:0 5px 0 5px;
    margin: 0 0 0 0;
}